/* Propriedades da página em geral */
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(65, 62, 62);
}
body, a, li{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
}


/* Propriedades do menu de navegação */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    border: 1px solid white;
}
.nav p{
    padding: 45px;
    font-size: 30px;
}
.nav p a{
    color: white;
}
.nav p:hover{
    text-decoration: underline;
}
.buttons{
    padding: 45px;
}
.buttons input, button{
    padding: 5px;
}
.buttons button:hover{
    cursor: pointer;
}


/* Propriedades da parte principal da página */
.container{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
}

aside ul li{
    margin: 10px 20px;
    font-size: 15px;
}
aside ul li a{
    color: white;
}
aside ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.conteudo p, h1{
    margin: 30px 70px;
    color: white;
}
.conteudo p{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}


/* Propriedades do subtítulo */
article{
    display: flex;  
    justify-content: center;
}
article p{
    margin: 70px 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}


/* Propriedades do hr e imagens */
hr{
    margin: 50px 0;
}
img{
    width: 220px;
    height: 150px;
    display: block;
    border: 1px solid white;
}
.figuras{
    display: flex;
    flex-flow: row wrap;
    max-width: 800px;
    margin: 0 auto;
}
.figuras > div{
    margin: 20px auto;
}
.figuras div p{
    color: white;
    font-weight: bold;
    text-align: center;
}


/* Propriedades do rodapé */
footer{
    margin-top: 100px;
}
footer p{
    text-align: center;
    font-size: 19px;
    color: white;
}