body, ul, li, a{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}




/* Menu de navegação */

.nav{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
}
.nav img{
    width: 225px;
    height: 225px;
}
.subnav{
    width: 100px;
    text-align: center;
    background: rgb(38, 78, 209);
    font-size: 20px;
    padding: 15px;
    color: white;
    transition: all 0.2s linear;
    border-radius: 5px;
    width: 120px;
}
.subnav:hover{
    background: rgb(20, 43, 117);
    color: white;
    text-decoration: underline;
}
@media(max-width: 880px){
    .nav{
        flex-flow: column;
    }
    .navbar{
        margin-top: 20px;
    }
    .subnav{
        margin-top: 10px;
    }
}
@media(min-width: 881px){
    .nav{
        justify-content: space-between;
    }
    .navbar{
        display: flex;
    }
    .subnav{
        margin-right: 8px;
    }
}

/* Conteúdo */

.conteudo{
    display: flex;
    margin: 70px auto;
    max-width: 960px;
    flex-wrap: wrap;
    border-top: solid 2px rgb(86, 86, 221);
    border-bottom: solid 2px rgb(86, 86, 221);
    text-align: center;
    justify-content: space-around;
}
.conteudo-texto{
    flex: 2 1 500px;
    margin: 0 10px;
}
.conteudo-texto p{
    font-size: 20px;
    max-width: 550px;
    margin: 40px auto;
}
.conteudo-img img{
    flex: 1 1 160px;
    margin: 0 10px;
}
img{
    display: block;
    max-width: 100%;
    width: 200px;
    height: 400px;
    border: 1px solid black;
}



/* Rodapé */

.footer{
    display: flex;
    max-width: 950px;
    justify-content: space-around;
    text-align: center;
    margin: 20px auto;
    flex-wrap: wrap;
}
.redes1{
    display: flex;
    align-items: center;
}
.redes1 p{
    font-size: 35px;
    color: rgb(147, 31, 255);
}
.item{
    color: white;
    background: rgb(6, 197, 245);
    font-size: 30px;
    margin: 20px 0;
    padding: 10px;
    transition: all 0.2s linear;
    border-radius: 5px;
}
.item:hover{
    text-decoration: underline;
    background: rgba(14, 38, 44, 0.616);
}
.footer2 p{
    text-align: center;
    margin: 30px auto 0px auto;
    background: rgb(104, 23, 179);
    max-width: 960px;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px 0px;
}